<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    The world is your oyster.
    <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
    </p>
    <button ion-button
        block
        (click)="addPhoto()">
        Add photo
    </button>
    <ng-container *ngFor="let source of photoUrls">
        <p><strong>{{source.name}} : </strong>{{ source.url }}</p>
        <img [src]="source.url" >
    </ng-container>
    <ng-container *ngFor="let source of photoUrls">
        <p><strong>Sanitised {{source.name}} : </strong>{{ source.url }}</p>
        <img [src]="sanitiser.bypassSecurityTrustUrl(source.url)" >
    </ng-container>
    <h1>Image data</h1>
    <pre><code>{{ imageData }}</code></pre>
    <h1>Photo</h1>
    <pre><code>{{ JSON.stringify(photo, null, 2) }}</code></pre>
</ion-content>
