<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    The world is your oyster.
    <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
    </p>

    <button ion-button
        block
        (click)="clear()">
        Clear
    </button>

    <button ion-button
        block
        (click)="getBase64FromCamera()">
        Add base64 photo
    </button>

    <button ion-button
        block
        (click)="getNativeFileUrlOptions()">
        Add native photo urls
    </button>

    <button ion-button
        block
        (click)="getFileUrlOptions()">
        Add photo urls
    </button>

    <ion-card *ngIf="base64Photo">
        <img [src]="base64Photo" >
        <ion-card-content>
            <ion-card-title>
                Base64
            </ion-card-title>
        </ion-card-content>
    </ion-card>

    <button *ngIf="!showPhotos"
        ion-button
        block
        (click)="showPhotos = true">
        Show Photos
    </button>

    <button *ngIf="showPhotos"
        ion-button
        block
        (click)="showPhotos = false">
        Hide Photos
    </button>

    <ion-grid *ngIf="showPhotos">
        <ion-row>
            
            <ion-col col-4 *ngFor="let source of photoUrls">
                <ion-card>
                    <img [src]="source.url">
                    <ion-card-content>
                        <ion-card-title>
                            {{source.name}}
                        </ion-card-title>
                        {{source.url}}
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>

    <h1>Image data</h1>
    <pre><code>{{ imageData }}</code></pre>
    <h1>Photo</h1>
    <pre><code>{{ JSON.stringify(photo, null, 2) }}</code></pre>
</ion-content>
